/* head */
/* google font */
.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* google font를 body 적용 */
body{
  font-family: "Gothic A1", sans-serif;
}

/* body-div */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}

li{
  list-style: none;
}

input{
  border: none;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* 모바일 버젼에서만 보일 부분 */
.sm-only{
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;

}

.logo img{
  width: 60px;
}

.gnb-list{
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.gnb-list li a{
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.gnb-list li a:hover{
  color: rgb(235, 27, 27);
}

.search-btn{
  cursor: pointer;
}

.lnb{
  position: sticky;
  left: 0;
  top: 0;
  border-top: 2px solid rgb(255, 213, 23);
  background-color: rgb(235, 27, 27);
}

.lnb-list{
  display: flex;
  padding: 12px 40px;
}

.lnb-list a{
  color: #fff;
  padding-right: 16px;
}

.back-img{
  background-image: url(./assets/images/back1.jpeg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}

.menu-list{
  width: 90%;
  margin: 40px auto;
  justify-content: space-between;
  display: flex;
  /* flex-warp: 기본값이 nowrap(공간이 부족해도 수평정렬) */
  flex-wrap: wrap;
}

.mneu-item{
  width: calc((100% - 60px) /3);
  margin: 16px 0;
  text-align: center;
  border-radius: 12px;
        /* offset/ offest-y/ blur */
  box-shadow: 3px 3px 5px #e1e1e1 ;
  overflow: hidden;
}

.mneu-item a {
  transition: opacity 300ms ease-in-out;
}

.mneu-item a:hover{
  /* opacity 기본값 1(불투명) */
  opacity: 0.5;
}

.mneu-item img{
  width: 100%;
}

.mac-story{
  position: sticky;
  left: 0;
  bottom: 0;
  padding: 8px 0;
  border-top: 2px solid rgb(255, 213, 23);
  background-color: #fff;
}

.mac-story-list{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.mac-story-list li img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

footer{
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(235, 27, 27);
  justify-content: space-between;
  display: flex;
}

.footer-1{
  margin-right: 50px;
}

.txt-yellow a{
  color: rgb(255, 213, 23);
}

footer ul li,
footer ul li a{
  color: #fff;
}

.footer-info{
  flex-grow: 1;
}

.footer-link{
  display: flex;
}

.footer-link li{
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #fff;
}

.footer-link li i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  font-size: 24px;
  color: rgb(235, 27, 27);
  transition: color 300ms ease-in-out;
}

.footer-link li:hover{
  background-color: rgb(235, 27, 27);
}

/* 부모요소에 호버를 작성 후 자식요소를 더하면 두개 전부 적용된다. */
.footer-link li:hover i{
  color: #fff;
}

.search{
  /* 이따가   display: none;  수정 */
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

.search.is-open{
  display: block;
}

/* >가 있을 때 맨 아래 자식요소에게 효과적용 */
.search > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.search-box input{
  flex-grow: 1;
  margin-right: 20px;
  padding: 24px 40px;
  border-radius: 30px;
}

.search-box{
  width: 100%;
  display: flex;
}

.search-box button{
  border-radius: 30px;
  font-weight: 700;
  padding: 24px 40px;
  background-color: rgb(255, 213, 23);
}

.search-close-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  background-color: rgb(255, 213, 23);
}

.search-close-btn i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

@media screen and (max-width : 1200px) {
  .mneu-item{
    width: calc((100% - 30px) /2);
  }

  
  .mac-story-list{
    width: 50%;
  }
  
  .mac-story-list li img{
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width : 768px) {
  .sm-only{
    display: block
  }

  .sm-hidden{
    display: none;
  }

  .sidebar-open-btn{
    font-size: 24px;
    cursor: pointer;
  }

  .mneu-item{
    width: 100%;
  }

  footer{
    flex-wrap: wrap;
  }
  
  .footer-1{
    margin-right: 50px;
  }
  
  .footer-info{
    text-align: right;
  }
  
  .footer-link{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .sidebar{
    position: fixed;
    transform: translate(-200px);
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 30px;
    z-index: 100;
    background-color: #fff;
    transition: transfrom 1000ms ease-in-out;
  }

  .sidebar.active{
      transform: translate(0);
    }

  .overlay{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0 ;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transfrom 1000ms ease-in-out;
  }


  .overlay.active{
  /*visibility 기본값 : visible*/
    visibility: visible;
    opacity: 1;

  }

}

