*{
  margin: 0 ;
  padding: 0 ;
}

li{
  list-style: none;

}

a{
  color: #000;
  text-decoration: none;
}

.global-header{
  background-color: #333;
  display: flex;

  justify-content: space-between;
  /* 수평 양끝 정렬*/

  align-items: center;
  /*  */

  padding: 12px 20px;
  /*  */
}

.logo img{
  width: 60px;
}

.gnb-list{
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.gnb-list li a{
  color: #fff;
  font-weight: 700;
}

.gnb-list li a:hover{
  color: dodgerblue;
  text-decoration: underline;
}

.back-img{
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  color: #fff;
}

.back-txt p,
.back-txt button{
  margin-top: 20px;
}
.back-txt p{
  margin-top: 20px;
  font-size: 18px;
}

.back-txt button{
  padding: 12px;
  border-radius: 8px;
}

.second-box{
  width: 500px;
  text-align: center;
  padding: 40px 36px;
  /*  */
  margin: -66px auto 0 auto;
  /* top/right/bottom/left */
  border-radius: 20px;
  color: #fff;
  background-color: #000;
}

.second-box p{
  margin-top: 24px;
}

.card-list{
  display: flex;
  justify-content: center;
  margin-top: 80px
}

.card-list div{
  width: 300px;
  margin: 0 20px;
  padding: 50px 16px;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 20px;
}

.card-list div p{
  margin-top: 20px;

}

.global-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 12px 20px;
  color: #fff;
  background-color: #333;
}

.footer-link{
  display: flex;
}

.footer-link a {
  padding: 0 12px;
  color: #fff;
}

@media screen and (max-width:1200px) {
  
  
}