*{
  padding: 0;
  margin: 0;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #ccc;
}

.mode-btn{
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: black;

}

header.dark{
  color: #fff;
  background-color: #333;
}

header.dark .mode-btn{
  background-color: #fff;
  color: #333;
}